*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ============ CUSTOM PROPERTIES ============*/

:root {
	--color-blue-900: #101822;
	--color-blue-700: #18212a;
	--color-red-400: #ff4654;
	--color-red-200: #ff8189;
	--color-white-200: #f6f6f6;
}

body {
	font-family: 'Poppins', sans-serif;
}

#root {
	background: var(--color-blue-700);
	color: var(--color-white-200);
	width: 100%;
}

.topnav {
	background: var(--color-red-400);
	display: flex;
	justify-content: center;
	align-items: center;
}

.strat {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	justify-content: center;
	align-items: center;
	max-width: 50em;
}

.strat h2 {
	font-size: 2rem;
}
