*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ============ CUSTOM PROPERTIES ============*/

:root {
	--color-blue-900: #101822;
	--color-blue-700: #18212a;
	--color-red-400: #ff4654;
	--color-red-200: #ff8189;
	--color-white-200: #f6f6f6;
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--color-blue-700);
	color: var(--color-white-200);
}

#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

.topnav {
	background: var(--color-red-400);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.map-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin-top: 1em;
}

/* Hides radio button, leaving just the card */
.map-cards input[type='radio'] {
	display: none;
}

.map-cards input[type='radio']:checked + .map-card {
	box-shadow: 0rem 0rem 1rem 0.25rem var(--color-white-200);
}

.map-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13.5em;
	height: 9em;
	background: var(--color-blue-700);
	overflow: hidden;
	position: relative;
}

.map-card:hover,
.map-card:active,
.map-card:focus {
	border: 0.25em solid var(--color-red-400);
	cursor: pointer;
}

.map-card h1 {
	position: absolute;
	font-size: 3rem;
}

.map-image {
	height: 9em;
	object-fit: cover;
	opacity: 0.8;
}

.team-selection {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2em;
	margin-bottom: 2em;
	margin-top: 2em;
}

.team-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6em;
	height: 2em;
	font-size: 2rem;
}

.attackers {
	background: var(--color-red-400);
}

.defenders {
	background: rgb(91, 91, 255);
}

.team-card:hover,
.team-card:active,
.team-card:focus {
	border: 0.1em solid var(--color-white-200);
	cursor: pointer;
}

/* Hides radio button, leaving just the card */
.team-selection input[type='radio'] {
	display: none;
}

.team-selection input[type='radio']:checked + .team-card {
	box-shadow: 0rem 0rem 1rem 0.25rem var(--color-white-200);
}

.strat {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	justify-content: center;
	align-items: center;
	max-width: 50em;
}

.strat h2 {
	font-size: 2rem;
}

.strat p {
	text-align: center;
}

button {
	padding: 0.5em 1.5em;
	font-size: 1.25rem;
	font-weight: bold;
	border-radius: 0.5em;
}

button:hover {
	cursor: pointer;
}

.strat-btn {
	background: none;
	border: 0.25em solid var(--color-red-400);
	color: var(--color-red-400);
}

.strat-btn:hover {
	background: var(--color-red-200);
	color: var(--color-blue-700);
}
